<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <a class="navbar-brand" [routerLink]="['/']">Angular Products</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-item nav-link" [routerLink]="['/users']" [routerLinkActive]="['active']">Welcome</a>
      </li>
      <li class="nav-item active">
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>